
.header{
    background-color: #e3dede; 
    text-align: center;
    border-radius: 10px;


    /* cajas flex de header */
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 8px;
    flex-shrink: 0;

    justify-content: center;
    align-items: center;

    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    
}


.logo-titulo{
    width: 300px; 
    border-radius: 10px;
}

.header, .txt-centrar{
    font-size: 10px;
    color: rgb(88, 3, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





#listaRick{
    /* Grid para mantener posiciones  */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: start;
}


.contenido{
    
    /* cajas flexibles grap */
    
    max-width: 300px;
    height: 470px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    
}


.contenido{
 
    /* border: 2px solid red; */
    
    border: 1px solid rgb(232, 226, 226);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}


.img-personage{
    width: 250px;
    border-radius: 5px;
}


